@sunday:registry=https://sunday-575319961431.d.codeartifact.ap-southeast-1.amazonaws.com/npm/production/
//sunday-575319961431.d.codeartifact.ap-southeast-1.amazonaws.com/npm/production/:always-auth=true
//sunday-575319961431.d.codeartifact.ap-southeast-1.amazonaws.com/npm/production/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
